.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0 24px;
  margin-top: 64px;
  background-color: white;
}

.navigationList {
  display: flex;
  flex-direction: row;
  gap: 64px;
}

.navigation {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 32px;
}

.buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
}
