.banner {
  width: 100%;
  position: relative;
  border-radius: 16px;
}
.wrapper {
  width: 100%;
  height: auto;
  position: relative;
  padding-top: 51.76%;
}

.image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
