.banner {
  width: 100%;
  position: relative;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 30px;
}

.buttons {
  display: flex;
  gap: 10px;
}

.price {
  font-size: 24px;
}

.button {
  width: 100%;
  padding: 20px;
  border-radius: 16px;
  border: 1px solid rgb(201, 197, 197);
  background-color: white;
  cursor: pointer;
}
